$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$selected: rgb(161, 220, 238);

$white-color: #ffffff;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
